---
import { Button } from "./ui/button";
---

<section
  class="w-full py-12 md:py-24 lg:py-32 bg-gradient-to-br from-red-700 via-fair-red to-red-800 text-white"
>
  <div class="container px-4 md:px-6 mx-auto">
    <div class="grid gap-6 lg:grid-cols-2 lg:gap-12 items-center">
      <div class="space-y-4">
        <div
          class="inline-block rounded-lg bg-primary px-3 py-1 text-sm text-primary-foreground"
        >
          July 8-12, 2025
        </div>
        <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl md:text-6xl">
          The 75th Choctaw Indian Fair
        </h1>
        <p class="max-w-[600px] text-gray-200 md:text-xl">
          We gather each July to celebrate our heritage and share our beautiful
          and vibrant culture with our friends and neighbors.
        </p>
        <div class="flex flex-col gap-2 min-[400px]:flex-row">
          <Button size="lg" variant="secondary">
            <a href="#register">Buy Tickets</a>
          </Button>
          <Button size="lg">
            <a href="#schedule">View Schedule</a>
          </Button>
        </div>
      </div>
      <div class="mx-auto w-full aspect-video overflow-hidden rounded-xl">
        <video
          src="/astro-app/fair_vid.mp4"
          poster="/fair_vid.webp"
          class="object-cover w-full h-full"
          controls></video>
      </div>
    </div>
  </div>
</section>
